<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory Management</title>
</head>
<body>
    <p>Producer!</p>
    <button type='button' onclick='window.location.href = "health_check";'>Health Check</button>
    <button type='button' onclick='window.location.href = "insert_item";'>Insert Item</button>
    <button type='button' onclick='window.location.href = "order_processing";'>Order Processing</button>
    <button type='button' onclick='window.location.href = "stock_management";'>Stock Management</button>
</body>
</html>
